.wrapper {
    padding: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.double-column {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex: 2;
}

.picker {
    padding: 10px;
}


@media screen and (min-width: 600px){
}

@media screen and (max-width: 600px){
    div.detailwrapper {
        width: 100%;
        padding: 40px;
    }
}